@use "../assets/styles/var.scss";

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 80px;
    background: linear-gradient(
        to right,
        #6188ff,
        #6188ff 70%,
        #71a4f3 71%,
        #71a4f3 91%,
        #8ec0f0 100%, 
    );
    a {
        color: var.$texto-blanco;
        text-decoration: none;
        background-color: #4379cf;
        height: 50px;
        line-height: 50px;
        padding: 0 50px;
        border-radius: 50px;
    }
}

#tituloContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #88daf2;
    width: 300px;
    height: 50px;
    padding: 0, 5px;
    color: var.$texto-blanco;
    border: solid 5px #30408d;
    border-radius:50px;
    img {
        height: 50px;
    }
    h1 {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        -webkit-text-stroke: 1px #30607a;
    }
}